aider-chat==0.7.2
altair-viewer==0.4.0
azure-cognitiveservices-vision-computervision==0.9.0
bingscraper==3.0
bokeh==3.1.1
brotlipy==0.7.0
bs4==0.0.1
chainlit==0.6.3
cmake==3.26.1
colabcode==0.3.0
colorgram.py==1.2.0
colormap==1.0.4
colorthief==0.2.1
conda==23.7.4
conda-content-trust==0.1.3
crewai==0.1.32
dataset==1.6.2
datasets==2.13.1
de-core-news-sm==3.5.0
defog==0.47.5
django==4.2
duckduckgo-search==4.2
easydev==0.12.1
easydict==1.10
einops==0.6.1
embedchain==0.0.10
en-core-web-sm==3.5.0
entrypoints==0.4
extcolors==1.0.0
fairscale==0.4.13
fairseq==0.12.2
fastprogress==1.0.3
fschat==0.1.3
gensim==4.3.1
geoalchemy2==0.14.1
geventhttpclient==2.0.2
google-cloud==0.34.0
google-cloud-language==2.10.0
google-cloud-translate==3.11.1
google-cloud-vision==3.4.1
googlenews==1.6.8
googletrans==3.0.0
gptcache==0.1.11
gradient==2.0.6
gradio-client==0.2.9
graphviz==0.20.1
grid==0.7.1
grpcio-status==1.54.0
h2==3.2.0
hstspreload==2023.1.1
httptools==0.5.0
hugchat==0.0.6.2
imageio-ffmpeg==0.4.8
ipdb==0.13.13
jdcal==1.4.1
kaolin==0.0
kornia==0.5.10
langchain-experimental==0.0.43
langchainhub==0.1.14
langchainplus-sdk==0.0.17
langflow==0.0.84
lightning-grid==0.8.81
linkify-it-py==2.0.0
lit==16.0.0
llama-index==0.8.26.post1
mayavi==4.8.1
mdai==0.12.4
mdit-py-plugins==0.3.3
mplcursors==0.5.2
mpld3==0.5.9
msgpack==1.0.5
mysql-connector-python==8.0.26
nomic==1.1.3
npm==0.1.1
numexpr==2.8.4
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
onnxruntime-gpu==1.15.1
openai-whisper==20230314
openapi-schema-pydantic==1.2.4
opencv-python-headless==4.5.5.62
paddleocr==2.6.1.3
paddlepaddle==2.4.2
pandasai==0.7.2
paramiko==3.1.0
pip-chill==1.0.3
pipdeptree==2.7.0
plotly==5.14.0
praat-parselmouth==0.4.3
pyaudio==0.2.13
pycocotools==2.0.6
pynrrd==1.0.0
pyodbc==4.0.39
pypalex==1.3.3
pyproject-toml==0.0.10
pyqt5==5.15.9
pyquery==2.0.0
pysocks==1.7.1
python-environ==0.4.54
pytorch-lightning==2.0.2
pytorchtrainer==0.2.1
pyworld==0.3.2
records==0.5.3
ruamel.yaml==0.17.21
sagemaker==2.175.0
schedule==1.2.0
scrapy==2.8.0
segment-anything==1.0
selenium==4.8.2
semantic-version==2.10.0
simpleitk==2.2.1
sk-video==1.1.10
sounddevice==0.4.6
soxr==0.3.5
streamlit-chat==0.1.1
tensorboard-plugin-wit==1.8.1
tensorboardx==2.6.2
tensorflow==2.14.0
textblob==0.17.1
torch-optimizer==0.3.0
torchcrepe==0.0.20
ultralytics==8.0.92
watermark==2.4.2
wavedrom==2.0.3.post3
webcolors==1.13
xlrd==2.0.1
youtube-dl==2021.12.17
